html {
  font-size: 16px;
}

*{
  box-sizing: border-box;  
}

.brdr{
  border: 1px solid;
}

.is-visually-hidden{
  position: absolute;
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; 
  width: 1px; 
  margin: -1px; 
  padding: 0; 
  border: 0; 
}


.pin-select-options{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition:  all .25s ease-in;
  transform-origin: 100% 100%;  
}

.collapsed .pin-select-options{  
  visibility: hidden;
  transform: scaleY(0);
}

.expanded .pin-select-options{
  visibility: visible;
  transform: scaleY(1); 
}

.pin-clickable {
  display: inline-block;
  cursor: pointer;
}

.pin{
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;  
  border-radius: 50%;
  text-align: center;
}

.pin:before{
  content: attr(data-icon);
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.pin-color-1 {
  color: blue;
}

.pin-color-2 {
  color: red;  
}

.pin-color-3 {
  color: green;
}

.pin-color-4 {
  color: yellow;
}

.pin-color-5 {
  color: lightblue;
}

.pin-color-6 {
  color: orange;
}

.pin-unknown:before{
  content: '';
}